<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://getauthorizationtokensapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4d4fb10f-e7b4-4cdb-bcdc-c1aa40c1edf4/resourcegroups/DynamicsDevTeamPOCs/providers/Microsoft.Web/sites/GetAuthorizationTokensApp</ResourceId>
    <UserName>$GetAuthorizationTokensApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://getauthorizationtokensapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>